<table class="table table-bordered" >
    <thead>
    <tr>
        <th scope="col">Nom de groupe</th>
        <th scope="col">Type de groupe</th>
        <th scope="col">Département</th>
        <th scope="col">Ville</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let group of listGroup | slice:begin:end ">
        <td>{{ group.name }}</td>
        <td>{{ group.type}}</td>
        <td>{{ group.nameDept}}</td>
        <td>{{ group.city}}</td>
        <td><a class="btn btn-outline-info"  [routerLink]="['/pageGroup', group.id]">Consulter</a></td>
    </tr>
    </tbody>
</table>

<div class="clearfix"></div>
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-end">
        <li class="page-item disabled">
            <button id="prev" class="btn btn-outline-primary"   (click)="Previous()" > Précédent </button>
        </li>
        <li class="page-item">
            <button id="next" class="btn btn-outline-primary"   (click)="Next()" > Suivant </button>
        </li>
    </ul>
</nav>



