
    <h1>Connexion</h1>

    <form [formGroup]="form"  (submit)="signin()">
        <div class="form-row">
            <div class="col-md-12 mb-3">
                <label for="email">E-mail</label>
                <input type="text" id="email" class="form-control" placeholder="Email ..." formControlName="email" />
                <p class="text-danger" *ngIf="controlEmail(); let message">{{message}}</p>
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-12 mb-3">
                <label for="mdp">Mot de passe</label>
                <input type="password" id="mdp" class="form-control" placeholder="Password ..." formControlName="password" />
                <p class="text-danger" *ngIf="controlPassword(); let message">{{message}}</p>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-10 offset-6">
                <input type="submit" name="send" class="btn btn-outline-dark" value="Connexion" />
            </div>
        </div>
    </form>
    <p class="text-danger" *ngIf="messageError(); let message">{{message}}</p>

