<h1>Liste des jeux </h1>

<nav class="navbar navbar-light bg-light float-right col-12">
    <form class="form-inline col-12">
        <input class="form-control col-12" type="search" name="searchString" [(ngModel)]="searchText" autocomplete="off" placeholder="Entrez un nom de jeu pour filtrer les résultats.">
    </form>
</nav>

<table class="table" matSort (matSortChange)="sortGameTable($event)">
    <thead class="thead-light">
    <tr>
        <th scope="col" mat-sort-header="name">Nom </th>
        <th scope="col" >Type</th>
        <th scope="col" mat-sort-header="description">Description</th>
        <th mat-sort-header="nbrMaxJoueur"> Nombre de joueurs</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let game of sortListGames  |searchFilter: 'name' : searchText |slice:begin:end">
        <td>{{game.name}}</td>
        <td>{{game.type}}</td>
        <td>{{game.description}}</td>
        <td>{{game.nbrMinJoueur}}-{{game.nbrMaxJoueur}}</td>
    </tr>
    </tbody>
</table>

<div class="clearfix"></div>
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-end">
        <li class="page-item disabled">
            <button id="prev" class="btn btn-outline-primary"   (click)="prev()"  > Précédent </button>
        </li>
        <li class="page-item">
            <button id="next" class="btn btn-outline-primary"   (click)="next()" > Suivant </button>
        </li>
    </ul>
</nav>
