<div class="text-body" *ngIf="group !== undefined">
    <label>{{group.name}}</label>


        <div class="col-md-12 mb-5">

            <label class="col-md-8 mb-3">
                <p>{{group.description}}</p>
            </label>
            <div *ngIf="user=== null ; else connect ">
                <p>Vous n'etes pas connecté</p>
            </div>
            <ng-template #connect>
                <div *ngIf="includeUser(); else rejoindre ">
                    <input class="btn btn-outline-danger" (click)="skip()"  id="add" type="button" value="Quitter"/>
                </div>
                <ng-template #rejoindre>
                    <input class="btn btn-outline-dark" (click)="addUser()"  id="add" type="button" value="Rejoindre"/>
                </ng-template>
            </ng-template>


        </div>
    <div>
        <h2>Liste des Membres</h2>
        <table class="table table-bordered" >
            <thead>
            <tr>
                <th scope="col">Pseudo</th>
                <th scope="col">Mail</th>
                <th scope="col">Numero de département</th>
                <th scope="col">Ville</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let user of group.membersList | slice:begin:end ">
                <td>{{ user.pseudo }}</td>
                <td>{{ user.mail}}</td>
                <td>{{ user.numDept}}</td>
                <td>{{ user.city}}</td>
                <td><a class="btn btn-outline-info"  [routerLink]="['/user', user.id]">Consulter</a></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="clearfix"></div>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
            <li class="page-item disabled">
                <button id="prev" class="btn btn-outline-primary"   (click)="Previous()" > Précédent </button>
            </li>
            <li class="page-item">
                <button id="next" class="btn btn-outline-primary"   (click)="Next()" > Suivant </button>
            </li>
        </ul>
    </nav>

</div>
